<!DOCTYPE html>
<html lang="ro">

<head>
     <meta name="description" content="Un marketplace cu produse precum pc uri intregi, consumabile, sau componente separate">
    <meta name="keywords" content="PC, GPU, Graphical Proccessing Unit, RAM, CPU, builds, coolers, RTX, Lenovo, Asus, ASUS, Thermal paste, pasta termala">
    
    <title>PC Marketplace</title>
    <%- include('../parti/head.ejs')%>
</head>

<body>
    <%- include('../parti/nav.ejs')%>
    
    <section id="sectiune-video">
    <h2>Prezentare Video</h2>
    
    <video id="video-vtt" controls preload="metadata" poster="/resurse/imagini/poster-video.jpg">
        
        <source src="/resurse/video/clip.mp4" type="video/mp4">
        
        
        <track src="/resurse/video/ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
        <track src="/resurse/video/en.vtt" kind="subtitles" srclang="en" label="English">
        
        Mesaj de rezervă: Browserul tău nu suportă elementul video.
    </video>
</section>

    <footer>
        
    <%- include('../parti/footer.ejs')%>
  
    </footer>
    
</body>

</html>