<!DOCTYPE html>
<html lang="ro">

<head>
     <meta name="description" content="Un marketplace cu produse precum pc uri intregi, consumabile, sau componente separate">
    <meta name="keywords" content="PC, GPU, Graphical Proccessing Unit, RAM, CPU, builds, coolers, RTX, Lenovo, Asus, ASUS, Thermal paste, pasta termala">
    
    <title>PC Marketplace</title>
    <%- include('../parti/head.ejs')%>
</head>

<body>
    <%- include('../parti/nav.ejs')%>
    
    <section id="sectiune-video">
    <h2>Prezentare Video</h2>
    
    <video id="video-vtt" controls preload="metadata" poster="/resurse/imagini/poster-video.jpg">
        
        <source src="/resurse/video/clip.mp4" type="video/mp4">
        
        
        <track src="/resurse/video/ro.vtt" kind="subtitles" srclang="ro" label="Română" default>
        <track src="/resurse/video/en.vtt" kind="subtitles" srclang="en" label="English">
        
        Mesaj de rezervă: Browserul tău nu suportă elementul video.
    </video>
</section>
    <section> 

        <section id="test-bootstrap" style="margin: 50px; text-align: center;">
    <h2>Testare Bootstrap Custom</h2>
    <button class="btn btn-primary">Buton Tema 1 (Mov)</button>
    <button class="btn btn-secondary">Buton Tema 2 (Cyan)</button>
</section>
    </section>


    <section class="text-coloane">
    <p>Aici adaugi textul lung care va fi împărțit pe coloane</p>
    <p> Text lung</p>
     <p> Text lung</p>
      <p> Text lung</p>
       <p> Text lung</p>
        <p> Text lung</p>
         <p> Text lung</p>
          <p> Text lung</p>
           <p> Text lung</p>
            <p> Text lung</p>
             <p> Text lung</p>
    <p>Continuare text lung...</p>
</section>

<div class="marquee-container">
    <div class="marquee-text">Acesta este un mesaj care se plimbă pe ecran.</div>
</div>

<section class="sectiune-bg-fix">
    <h2>Conținut peste background fix</h2>
</section>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Coloana 1</th>
                <th>Coloana 2</th>
                <th>Coloana 3</th>
                <th>Coloana 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Date 1</td>
                <td>Date 2</td>
                <td>Date 3</td>
                <td>Date 4</td>
            </tr>
            <tr>
                <td>Date 5</td>
                <td>Date 6</td>
                <td>Date 7</td>
                <td>Date 8</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="efect-css-duotone"></div>

<div class="wrapper-litera-v">
    <h2 class="text-stg">Un text</h2>
    <h2 class="text-dr">Un text</h2>
</div>

     <%- include('../parti/galerie.ejs')%>

     
    <footer>
        
    <%- include('../parti/footer.ejs')%>
  
    </footer>
    
</body>

</html>