<!DOCTYPE html>
<html lang="ro">

<head>
     <meta name="description" content="Un marketplace cu produse precum pc uri intregi, consumabile, sau componente separate">
    <meta name="keywords" content="PC, GPU, Graphical Proccessing Unit, RAM, CPU, builds, coolers, RTX, Lenovo, Asus, ASUS, Thermal paste, pasta termala">
    
    <title>PC Marketplace</title>
    <%- include('../parti/head.ejs')%>
</head>

<body>
    <%- include('../parti/nav.ejs')%>

    

    <footer>
        
    <%- include('../parti/footer.ejs')%>
  
    </footer>
    
</body>

</html>