<a href="#welcome"> Inapoi la bun venit </a>
    <small> Copyright &copy; 
        <time datetime="2026">2026</time> Fieraru Edward-Alexandru</small>


      <address>
    Telefon: <a href="tel:+40700000000">0700 000 000</a> <br>

    Adresă: 
    <a href="https://maps.app.goo.gl/3q4aVwE1M2o3B7qA9" >
        Strada Fictivă nr. 10,<br>
        București, Sector 1
    </a> <br>

    E-mail: <a href="mailto:contact@pc-marketplace.ro">contact@pc-marketplace.ro</a> <br>

    WhatsApp: <a href="https://wa.me/40700000000" >Lasă-ne un mesaj</a>
</address>