<header>
        <h1> PC marketplace <i class="fa-solid fa-computer"></i> </h1>

        <nav>
            <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
</div>
            <ul class = "meniu">
                <li> Acasa</li>
                        <li> <a href="#welcome">Bine ati venit </a></li>
                        <li> <a href="#promotii">Promotii </a></li>
                        <li> <a href="#orar"> Orar </a></li>
            
                <li> <a href="#produse"> Produse </a>
                    <dl>
                        </dl>
                </li>
                <li> Inregistrare</li>
            </ul>
        </nav>
    </header>
